@import url(./root.scss);

#app {
  width: auto;
  height: auto;
  margin: 0 auto;
}

#editor {
  text-align: left;
}

.cm-editor {
  max-height: 100%;
}

.error-output {
  color: red;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb::hover,
::-webkit-scrollbar-thumb::active,
::-moz-scrollbar,
::-moz-scrollbar-track,
::-moz-scrollbar-thumb,
::-moz-scrollbar-thumb::hover {
  background: transparent !important;
}
